.wrapper {
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.visible {
    display: flex;
}

.container {
    width: 483px;
    height: 587px;
    margin: auto;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    animation: appear ease-in 0.2s;
    display: flex;
    flex-direction: column;
}

@keyframes appear {
    from {
        transform: scale(0.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.close {
    position: absolute;
    right: 25px;
    top: 20px;
}

.close-btn {
    border-radius: 50%;
    background-color: #f8f8f8;
    width: 36px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
}

.register,
.login,
.main-form {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    padding-top: 50px;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.association-list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 375px;
    height: 300px;
    margin-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}


.association-btn {
    color: rgb(22, 24, 35);
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 15px;
    border-radius: 0px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 16px;
    background: rgb(255, 255, 255);
    position: relative;
}

.content {
    padding: 11px 0;
}

.logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2.1rem;
}

.describe {
    color: rgb(22, 24, 35);
    font-weight: 500;
}

.description {
    color: rgba(22, 24, 35, 0.5);
    font-size: 12px;
    line-height: 15px;
    width: 375px;
    text-align: center;
    margin-left: 50px;
    letter-spacing: 0.2px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding: 16px 0;
}

.changeMainForm {
    padding: 24px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    color: rgb(22, 24, 35, 0.8);
    font-size: 15px;
    line-height: 18px;
}

.changeMainForm-btn {
    background-color: #fff;
    border: 0;
    color: var(--primary);
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 6px;
    cursor: pointer;
}





//QR login
.back{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
}

.back-btn{
    font-size: 2.2rem;
    margin: auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.login{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.qrLogin{
    padding: 30px 0;
}

.instruction{
    display: flex;
    text-align: start;
    flex-direction: column;
    margin-bottom: 51px;
}


//email phone id
.option{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 5px;
}

.form-login{
    display: flex;
    flex-direction: column;
}

.change{
    font-size: 1.2rem;
    color: rgb(22, 24, 35);

    &:hover{
        text-decoration: underline
    }
}



//register 
.register {
    overflow-y: auto;
}

.birth{
    display: flex;
    flex-direction: column;
}

.birth-question{
    color: rgb(22, 24, 35);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
}

.birth-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeSelect-btn{
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.show-time{
    width: 120px;
    height: 44px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    background: rgba(22, 24, 35, 0.01);
    font-size: 1.6rem;
    cursor: pointer;
}

.icon-option{
    position: absolute;
    right: 20px;
    font-size: 1.8rem;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.list-items{
    position: fixed;
    margin: 6px 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-height: 230px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.08), 4px 0 8px rgba(0, 0, 0, 0.08);
    overflow-x: hidden;
    z-index: 100;
    transition: display 0.3s ease 0s;
}

.open{
    display: flex;
}

.item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    padding: 8px 12px;
    color: rgb(22, 24, 35);
    background-color: #fff;
    cursor: pointer;
    font-size: 1.6rem;

    &:hover{
        background: rgba(22, 24, 35, 0.05);
    }
}

.brith-note{
    color: rgba(22, 24, 35, 0.4);
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 6px 0;
}
